* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --green: #009B48;
  --red: #B90000;
  --blue: #0045AD;
  --orange: #FF5900;
  --white: #FFF;
  --yellow: #FFD500;
  --size: 5em;
  --blocksize: calc(var(--size)/3)
}

body {
  width: 100vw;
  height: 100vh;
  perspective: 25em;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

main {
  transform-style: preserve-3d;
  font-size: 3em;
  transform: rotateY(40deg) rotateX(40deg);
  /* animation: rotation 15s linear infinite; */
}

@keyframes rotation {
  to {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

span {
  border: 5px solid black;
  position: absolute;
  width: var(--blocksize);
  height: var(--blocksize);
  transform: rotate3d(var(--rotateX, 0), var(--rotateY, 1), 0, var(--deg, 0deg)) translateZ(calc(var(--blocksize)/2));
}

div > div {
  transform-style: preserve-3d;
  transition: transform 500ms ease-in-out;
  transform: translate3d(calc(var(--blocksize)*var(--x, 0)), calc(var(--blocksize)*var(--y, 0)), calc(var(--blocksize)*var(--z, 0)))
}

div > div span:nth-of-type(1) {
  background-color: var(--green);
  --z: 1;
}

div > div span:nth-of-type(2) {
  background-color: var(--red);
  --deg: 90deg;
  --z: -.4;
}

div > div span:nth-of-type(3) {
  background-color: var(--blue);
  --deg: 180deg;
  --z: 2;
}

div > div span:nth-of-type(4) {
  background-color: var(--orange);
  --deg: 270deg;
  --z: 2;
}

div > div span:nth-of-type(5) {
  background-color: var(--white);
  --deg: 90deg;
  --rotateX: 1;
  --rotateY: 0;
  --z: 2;
}

div > div span:nth-of-type(6) {
  background-color: var(--yellow);
  --deg: -90deg;
  --rotateX: 1;
  --rotateY: 0;
  --z: .4;
}

div > div:nth-of-type(1) {
  --x: -1;
  --y: -1;
}

div > div:nth-of-type(2) {
  --y: -1;
}

div > div:nth-of-type(3) {
  --x: 1;
  --y: -1;
}

div > div:nth-of-type(4) {
  --x: -1;
}

div > div:nth-of-type(6) {
  --x: 1;
}

div > div:nth-of-type(7) {
  --x: -1;
  --y: 1;
}

div > div:nth-of-type(8) {
  --y: 1;
}

div > div:nth-of-type(9) {
  --x: 1;
  --y: 1;
}

div:nth-of-type(1) div {
  --z: -1;
}

div:nth-of-type(3) div {
  --z: 1;
}